<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Witherford's Olde Timey Barber Shoppe</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1><a href="/">Witherford's Olde Timey Barber Shoppe</a></h1>
      </div>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
