<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">

    <title>Witherford's Olde Time Barber Shoppe</title>
  </head>
  <body>
    <div class="container well">
      <div class="header">
        <h1 id="title"><a href="/">Witherford's Olde Time Barber Shoppe</a></h1>
      </div>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
